.first-container{
    display: flex;
    margin: auto;
    width: 80vw;
}


.first-container__text{
    padding-top: 5rem;
}


.first-container__image{
    background-color: #adadad;
    margin-top: 5rem;
    margin-left: 5rem;
    width: 65vh;
    height: 15rem;
}


@media screen and (max-width:1024px) {

    .first-container{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .first-container__image{
        margin: 0;
        width: 50vw;
    }

    .first-container__text {
       margin: auto;
       padding-bottom: 5rem;
       text-align: center;
    }
}
