
.second-container{
    padding-top: 10rem;
}


.container-second__title{
    margin: 0 auto;
    width: 50vw;
    padding-bottom: 2rem;
}


.collection{
    box-sizing: border-box;
    height: 40vh;
    width: 50vw;
    overflow: hidden;
    margin: 0 auto;
}


.center-slide__list{
    width: 100%;
    animation: slide 15s infinite;
}

.center-slide__item{
    display: block;
    height: 40vh;
    width: 100%;
    z-index: 0;
}

.center-slide__item:nth-child(1){
    background-color: black;
}

.center-slide__item:nth-child(2){
    background-color: green;
}





@keyframes slide{
    0%, 22%, 100%{
        transform: translateX(0);
    }
    25%, 47%{
        transform: translateX(-50vw);
    }
    50%, 72%{
        transform: translateX(-100vw);
    }
    75%, 97%{
        transform: translateX(-150vw);
    }
}