
.second-container{
    padding-top: 10rem;
}


.container-second__title{
    margin: 0 auto;
    width: 50vw;
    padding-bottom: 2rem; 
}


.collection{
    box-sizing: border-box;
    height: 40vh;
    width: 50vw;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid black;
}


.center-slide__list{
    display: flex;
    width: 200vw;
    animation: slide 20s infinite;
}

.center-slide__item{
    display: block;
    height: 40vh;
    width: 100vw;
}

.center-slide__item:nth-child(1){
    background-color: black;
}

.center-slide__item:nth-child(2){
    background-color: green;
}
.center-slide__item:nth-child(3){
    background-color: blue;
}
.center-slide__item:nth-child(4){
    background-color: blueviolet;
}





@keyframes slide{
    0%, 22%, 100%{
        transform: translateX(0);
    }
    25%, 47%{
        transform: translateX(-50vw);
    }
    50%, 72%{
        transform: translateX(-100vw);
    }
    75%, 97%{
        transform: translateX(-150vw);
    }
}