.logo{
    padding: 1rem;
}


.logo__link{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
}



@media screen and (max-width: 1024px) {
    
    .logo__link{
 
    }
}


