 
.arrow-slider{
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    margin: 0 3.6rem;
    z-index: 1;
}

.arrow-slider--left{
    left: 0;
}

.arrow-slider--right{
    right: 0;
}

