
.section-one{
    display: inline-flex;
}


.section-one__text{
    margin-left: 13rem;
    padding-top: 5rem;
}


.section-one__image{
    background-color: #adadad;
    margin: 5rem;
    width: 30rem;
    height: 15rem;
}

@media screen and (max-width:1024px) {

    .section-one{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .section-one__image{
        margin: ;
    }

    .section-one__text {
        margin: auto;
       text-align: center;
    }
}
