.section-two{
    padding-top: 5rem;
}


.section-two__title{
    margin: 0 auto;
    width: 80vw;
}


.center-carousel__list{
    display: flex;
}

.center-carousel__item{
    background-color: grey;
    height: 12rem;
    margin: .5rem;
    width: calc(75.4vw / 5);
}

