
.section-one{
    display: inline-flex;
}


.section-one__text{
    margin-left: 10rem;
    padding-top: 5rem;
}


.section-one__image{
    background-color: #adadad;
    margin: 5rem;
    margin-right: 10rem;
    width: 65vh;
    height: 15rem;
}


@media screen and (max-width:1024px) {

    .section-one{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .section-one__image{
        margin: 0;
        width: 50vw;
    }

    .section-one__text {
       margin: auto;
       padding-bottom: 5rem;
       text-align: center;
    }
}
